# Set the template to use for the listing pages. Leave this blank, if you'd like
# to use the default 'listing template' as defined in the theme of your global config.
template: ''

# The prefix to use for the URL's, like 'archives/entries/2015-06'
prefix: 'archives'

# Set to true, to display 'January 2015', instead of 'january 2015'.
ucwords: true

# Set to true if you're using animal translation extension.
animaltranslation: false

# Set the column to use for filtering / sorting for specific contenttypes.
columns:
    agenda: date_start

widgets:
  entries:
    location: aside_top
    type: monthly
    priority: 100
    header: "Monthly archives"

